@mixin responsive-background{
    @media (min-width: 1200px){
        width: 1140px;
    }
    @media (min-width: 992px) and (max-width: 1200px){
        width: 960px;
    }
    @media (min-width: 768px) and (max-width: 992px){
        width: 800px;
    }
    @media (min-width: 370px) and (max-width: 768px){
        width: 370px;
    }
    @media (max-width: 370px){
        width: 300px;
    }

}

@mixin responsive-grid{
    @media (min-width: 1200px){
        grid-template-columns: repeat(auto-fill,minmax(200px,270px));
    }
    @media (min-width: 992px) and (max-width: 1200px){
        grid-template-columns: repeat(auto-fill,minmax(200px,220px));
    }
    @media (min-width: 768px) and (max-width: 992px){
        grid-template-columns: repeat(auto-fill,minmax(200px,250px));
    }
    @media (max-width: 768px){
        grid-template-columns: repeat(auto-fill,minmax(200px,250px));
    }
}

@mixin button-template {
    background-color: red; /* Green */
    border-radius: 8px;
    border: 1.5px solid black;
    color: white;
    padding: 10px 10px;
    text-align: center;
    font-family: "kulim-park", sans-serif;
    font-size: 15px;
    font-weight: 750;
    transition: color 0.5s;
    &:hover{
        cursor: pointer;
        color: black;
    }
}
