* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
}

body {
  background-image: url(../images/images.jpg);
  background-repeat: repeat;
  background-position: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__title {
  margin-top: 105px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  color: black;
}
.content__background {
  background-color: rgba(75, 75, 75, 0.685);
  border-radius: 30px;
  height: auto;
}
@media (min-width: 1200px) {
  .content__background {
    width: 1140px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .content__background {
    width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .content__background {
    width: 760px;
  }
}
@media (min-width: 390px) and (max-width: 768px) {
  .content__background {
    width: 390px;
  }
}
@media (max-width: 390px) {
  .content__background {
    width: 300px;
  }
}

.header {
  display: flex;
  justify-content: center;
  height: 95px;
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  .items {
    width: 1140px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .items {
    width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .items {
    width: 760px;
  }
}
@media (min-width: 390px) and (max-width: 768px) {
  .items {
    width: 390px;
  }
}
@media (max-width: 390px) {
  .items {
    width: 300px;
  }
}
.items__logo {
  height: 85px;
}
.items__cart {
  position: relative;
}
.items__cart:hover {
  cursor: pointer;
}
.items__cart--notification {
  position: absolute;
  font-weight: 700;
  background-color: rgb(255, 54, 54);
  width: 15px;
  border-radius: 4px;
  border: 1px solid grey;
  top: -5px;
  left: 30px;
  text-align: center;
}
.items__cart--img {
  height: 40px;
}

.grid-container {
  padding-top: 0px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "aside" "section";
}
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 21% 79%;
    grid-template-areas: "aside section";
  }
}

.filters__container {
  border-right: 1px solid white;
  color: white;
}
@media (max-width: 768px) {
  .filters__container {
    border: none;
  }
}
.filters__form {
  padding: 25px;
}
.filters__form--items {
  padding: 2.5px;
  font-weight: 200;
  font-size: 20px;
}
.filters__button {
  background-color: red; /* Green */
  border-radius: 8px;
  border: 1.5px solid black;
  color: white;
  padding: 10px 10px;
  text-align: center;
  font-family: "kulim-park", sans-serif;
  font-size: 15px;
  font-weight: 750;
  transition: color 0.5s;
}
.filters__button--container {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.filters__button:hover {
  cursor: pointer;
  color: black;
}

.title {
  padding: 20px;
  color: white;
  font-size: 22.5px;
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}
.title__beautify {
  font-family: "roboto", sans-serif;
  font-weight: 500;
}

.products {
  width: auto;
}
.products__grid-container {
  display: grid;
  grid-auto-rows: 340px;
  gap: 20px;
  padding: 20px;
  justify-content: space-around;
}
@media (min-width: 1200px) {
  .products__grid-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 270px));
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .products__grid-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 220px));
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .products__grid-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
  }
}
@media (max-width: 768px) {
  .products__grid-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
  }
}
.products__grid-item {
  padding: 10px 5px;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.705);
  border-radius: 10px;
}
.products__grid-item p {
  font-family: "reboto", sans-serif;
  font-size: 20px;
  text-align: center;
}
.products__grid-item--img {
  height: 75%;
  width: 100%;
}
.products__grid-item--price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.products__grid-item--price button {
  background-color: red; /* Green */
  border-radius: 8px;
  border: 1.5px solid black;
  color: white;
  padding: 10px 10px;
  text-align: center;
  font-family: "kulim-park", sans-serif;
  font-size: 15px;
  font-weight: 750;
  transition: color 0.5s;
}
.products__grid-item--price button:hover {
  cursor: pointer;
  color: black;
}

.form {
  margin-top: 105px;
  margin-bottom: 10px;
  color: black;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  .form {
    width: 1140px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .form {
    width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .form {
    width: 760px;
  }
}
@media (min-width: 390px) and (max-width: 768px) {
  .form {
    width: 390px;
  }
}
@media (max-width: 390px) {
  .form {
    width: 300px;
  }
}
.form__placeholder {
  border: 1px solid white;
  border-radius: 8px;
  height: auto;
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  outline: white;
  transition: border-color 0.3s ease-in-out, box-shadow 0.9s ease-in-out;
}
.form__placeholder:focus {
  border-color: red;
  box-shadow: 30px black;
}
.form__button {
  background-color: transparent; /* Green */
  opacity: 1;
  border-radius: 8px;
  border: 1px solid rgb(255, 0, 0);
  color: white;
  padding: 15px 15px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-weight: 750;
  transition: background-color 0.5s;
}
.form__button:hover {
  cursor: pointer;
  background-color: red;
}

.cart-modal {
  max-height: 85%;
  overflow-y: auto;
  font-family: "reboto", sans-serif;
  display: block;
  background-color: white;
  width: 370px;
  min-height: 200px;
  position: fixed;
  top: 98px;
  right: 3px;
  border-radius: 10px;
}
@media (max-width: 390px) {
  .cart-modal {
    width: 300px;
  }
}
.cart-modal__title {
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid gray;
}
.cart-modal__details-container {
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.726);
  display: flex;
  padding: 15px;
  margin: 15px;
  align-items: center;
  justify-content: space-between;
}
.cart-modal__img {
  color: gray;
  height: 50px;
  width: 50px;
}
.cart-modal__product-description {
  width: 60%;
}
.cart-modal__product {
  padding: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}
.cart-modal__price {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
}
.cart-modal__price span {
  font-weight: 700;
}
.cart-modal__discard-bin {
  height: 20px;
  width: 20px;
}
.cart-modal__discard-bin:hover {
  cursor: pointer;
}
.cart-modal__buy-container {
  border-top: 1px solid gray;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-modal__total-price span {
  font-weight: 600;
}
.cart-modal__buy-button {
  background-color: red; /* Green */
  border-radius: 8px;
  border: 1.5px solid black;
  color: white;
  padding: 10px 10px;
  text-align: center;
  font-family: "kulim-park", sans-serif;
  font-size: 15px;
  font-weight: 750;
  transition: color 0.5s;
  color: black;
  font-size: 13px;
  padding: 7px 10px;
  transition: color 0.5s;
}
.cart-modal__buy-button:hover {
  cursor: pointer;
  color: black;
}
.cart-modal__buy-button:hover {
  cursor: pointer;
  color: white;
}
.cart-modal__product--qty {
  padding: 0 5px 0 5px;
  font-weight: 700;
}
.cart-modal__qty-container {
  font-size: 13px;
  border-radius: 20px;
  padding-top: 6px;
  padding-bottom: 3px;
  display: flex;
  justify-content: center;
}
.cart-modal__qty-btn {
  width: 15px;
  height: 15px;
  text-align: center;
  background-color: white;
  color: red;
  border-radius: 50%;
  cursor: pointer;
}

.hidden-cart {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
